li{
    background-color: white;
    color: black;
    border: solid black 2px;
    padding: 1vw;
}

li:hover{
    background-color: bisque;
}
#savepopup {
    padding: 10px;
    background-color: #4BB543; /* Red */
    color: white;
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 1px;
    text-align:center;
}  

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
  }
.buttons {
      margin-bottom: 10px;
}
#fileinfoedit{
    background-color: bisque;
    min-height: 200px;
    padding: 10px;
}
.filetitle {
      display: block;
      float: left;
      margin-bottom: 5px;
      margin-left: 2px;
}